/* сначала блок header его свойства*/
.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  justify-items: end;
  padding: 89px 50px 96px 50px;
  font-family: "Raleway", sans-serif; /*шрифт*/
  font-weight: normal;/*начертание*/
  font-size: 18px;/*размер*/
  width: 100%;
}

.header__menu {
  margin-right: 36px;
}

.header__logo {
  display: block;
  justify-self: center; /*сделали рисунок блочным задали ширину и расположение внутри грида по центру*/
  align-self: center;
  width: 140px;
  padding-right: 2px;
}

.header__logo-image {
  width: 100%;
}

.header__links-list {
  display: flex; /*ссылки перевели из столбца в строчку*/
  gap: 32px; /*расстоние между ссыолк*/
  font-size: 18px; /*описание ссылок в меню*/
  white-space: nowrap; /*описание ссылок запрет на перенос слов*/
  color: #000000;
}

.header__links-list-item_no-bullit {
  list-style-type: none; /*без  кружка ссылка*/
}

.header__links-list-item {
  list-style: circle; /* с кружком ссылка*/
}

.header__link_active {
  text-decoration: none; /*без подчеркивания ссылка*/
}
.header__link {
  text-underline-position: under; /*с подчеркиванием ссылка в меню шапки*/
}

.address__link {
  text-underline-position: under; /*с подчеркиванием ссылка в адресе*/
}

.address {
  font-style: inherit; /*наследование начертания чтоб если что менять только в одном месте*/
  line-height: 1.35; /*межстрочное расстояние*/
  font-size: 18px; /*размер текста ссылок в адресе*/
}

.header-address {
  justify-self: end; /*расположили адрес в ячейки грида по правому краю по горизонтали*/
  list-style-type: none;
  padding-right: 38px;
}
/* законончили шапку*/

/*начинаем секцию main*/
.main {
  display: flex;
  flex-direction: column;
  gap: 180px;
}

.cover {
  position: relative; /*элемент перемещается относительно своего начального положения*/
  padding: 165px 50px 50px 50px;
  min-height: 723px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6000000238418579;
  background-color: #000000;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-top: 1px;
  letter-spacing: 30px;
}

.aligned-text_center {
  display: block;
  padding-left: 28px;
  letter-spacing: 29px;
  text-align: center;
}

.aligned-text_right {
  display: block;
  margin-right: -24px;
  letter-spacing: 29px;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0.6em;
}

.cover__description {
  /*область текста с кнопкой*/
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 78px;
  padding: 110px 0 0;
  
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 1.1rem;
  padding-right: 32px;
  margin-bottom: 1px;
}

.bet-button {
  border: 1px #fff solid;
  border-width: 1px;
  padding: 12px 31px 11px 31px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer; /*курсор, который обычно появляется над нажимаемыми элементами типа ссылок.*/
}

.bet-button:hover {
  color: #000000;
  background-color: #fff;
}

.lots {
  padding-top: 180px;
 margin-right: 24px;
 margin-left: 24px;
}

.lots__heading {
  padding-left: 38px;
  padding-bottom: 23px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
  list-style: none;
}

.lost__card-list-item {
  height: 100%;
}

.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.card { /*карточка ее свойства*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  max-width: 334px;
  height: 596px;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  padding-top: 32px;
  margin-left: 35px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
}

.about {
  padding-top: 155px;
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-content: center;
  margin-right: 24px;
  margin-left: 24px;
}

/*колонка с текстом*/
.about__column {
  align-content: end;
  margin-left: 25px;
  padding-top: 104px;
}

/*колонка с логотипом*/
.about__logo {
  display: flex;
  justify-content: center;/*выравниваем по центру вдоль основной*/
  align-items: center;/*выравниваем по центру поперечной*/
  width: 240px; /*зафиксировали размер*/
  height: 240px;
  border-radius: 50%;/*сделали круглым*/
  background-color: #000000; /*задали фон*/
 /* margin-top: 35px;*/
  margin-left: 47px;
}

.about__logo-image {
  width: 148px;
  
}

.about__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.about_text_all {
  display: flex;
  flex-direction: column;
  gap: 24px; /*отступ между первым и вторым параграфом*/
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 181px 50px 80px;
}

.footer__social-icon {
  width: auto;
  height: 48px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}
.footer__address {
  list-style-type: none;
}
